* {
  font-family: 'Exo 2';
}
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  background: url(../wallpaper/wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

img {
  width: auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #424242;
          box-shadow: 0 0 10px #424242;
  max-width: 100%;
}

h1, h2, h3 {
  font-weight: 300;
}

.v9-para, .header .header-txt, .header .span {
  font-family: 'Comfortaa';
}

.container-root {
  min-height: 100vh;
  height: 100%;
  width: 55%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: #00000012;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
}

.contents {
  padding: 10px;
  display: block;
}

.header {
  text-align: center;
  padding: 10%;
}
.header .header-txt, .header .span {
  font-weight: 100;
  font-size: 100pt;
  max-width: 100%;
}
.header .span {
  font-size: 80px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #ff000000), to(#ff0000));
  background: linear-gradient(#ff000000 80%, #ff0000);
  border-radius: 5px;
  -webkit-animation: colorChange 1s linear 0s infinite alternate;
          animation: colorChange 1s linear 0s infinite alternate;
  color: white;
  -webkit-box-shadow: 0 0 10px #5f5f5f;
          box-shadow: 0 0 10px #5f5f5f;
  display: inline-block;
}
.header img {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sticky {
  position: fixed;
  top: 0;
}

.showcase {
  display: inline-block;
}

.showcase-container {
  display: block;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.image-box {
  display: inline-block;
  margin: auto;
}

.img-g {
  padding: 5px;
  display: inline-block;
  position: relative;
}

.img-g:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.image-1 {
  max-height: 200px;
  width: auto;
  min-width: auto;
}

.image-center {
  text-align: center;
}

.tooltip {
  z-index: 1;
  padding: 10px;
  display: inline-block;
  visibility: hidden;
  background: #ffffffc4;
  color: black;
  border-radius: 10px;
  -webkit-animation: showO .5s;
          animation: showO .5s;
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  bottom: 100%;
  left: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: large;
  -webkit-filter: none;
          filter: none;
}
.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-style: solid;
  border-width: 10px;
  border-color: #ffffffc4 transparent transparent transparent;
}

@media only screen and (max-width: 700px) {
  .container-root {
    min-width: 100%;
  }
  .container-root .header-txt {
    font-size: 8ch;
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .image-1 {
    max-height: auto;
    width: auto;
  }

  .img-g {
    margin: auto;
    display: block;
    text-align: center;
    padding: 10px;
  }

  .cursor {
    display: none;
  }
}
@-webkit-keyframes colorChange {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
@keyframes colorChange {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
@-webkit-keyframes showO {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes showO {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes grow {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.3);
            transform: translate(-50%, -50%) scale(0.3);
  }
}
@keyframes grow {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.3);
            transform: translate(-50%, -50%) scale(0.3);
  }
}
@-webkit-keyframes grow2 {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1.5);
            transform: translate(-50%, -50%) scale(1.5);
  }
}
@keyframes grow2 {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1.5);
            transform: translate(-50%, -50%) scale(1.5);
  }
}
@-webkit-keyframes grow3 {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(5);
            transform: translate(-50%, -50%) scale(5);
    opacity: 0;
  }
}
@keyframes grow3 {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(5);
            transform: translate(-50%, -50%) scale(5);
    opacity: 0;
  }
}
.cursor {
  z-index: 1;
  position: absolute;
  border: 5px solid #ff000088;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-animation: grow2 1s linear infinite alternate;
          animation: grow2 1s linear infinite alternate;
}
.cursor::before {
  content: '';
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2em;
  height: 2em;
  border: 3px solid #000000b6;
  z-index: 11;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-animation: grow 1s linear infinite alternate;
          animation: grow 1s linear infinite alternate;
}

.expand {
  border: 5px solid red;
  -webkit-animation: grow3 .5s ease-out forwards;
          animation: grow3 .5s ease-out forwards;
}

::-moz-selection {
  background: black;
  color: white;
  opacity: 1;
}

::selection {
  background: black;
  color: white;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */